In [1]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sanelisiwe2000"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000244EFA27E88>

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sanelisiwe2000"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [5]:
#Add more Products
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sanelisiwe2000",
  database="world"
) 

cur=mydb.cursor()
s="INSERT INTO sprint (Sweets,Brands,Barcode) Values(%s,%s,%s)"
sql=[
    ("Lollypop","Cadbury","df8h7tgt"),
]
cur.executemany(s,sql)
mydb.commit()

In [ ]:
#CREATE COLUMNS
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sanelisiwe2000",
  database="world"
) 

cur=mydb.cursor()

cur.execute("ALTER TABLE sprint ADD Barcode varchar(225)")

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sanelisiwe2000",
  database="world"
) 

cur=mydb.cursor()

cur.execute("SELECT Products FROM world.sprint")

In [11]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sanelisiwe2000",
  database="world"
) 
db_cursor = mydb.cursor()
#Here creating database table as student'
db_cursor.execute("CREATE TABLE Chocolate (id INT, name VARCHAR(255))")
#Get database table'
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
	print(table)

('chocolate',)
('city',)
('country',)
('countrylanguage',)
('customers',)
('sprint',)

In [12]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sanelisiwe2000",
  database="world"
) 
db_cursor = mydb.cursor()
#Here creating database table as student'
db_cursor.execute("CREATE TABLE Chips (id INT, name VARCHAR(255))")
#Get database table'
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
	print(table)

('chips',)
('chocolate',)
('city',)
('country',)
('countrylanguage',)
('customers',)
('sprint',)

In [14]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sanelisiwe2000",
  database="world"
) 
db_cursor = mydb.cursor()
#Here we modify existing column id
db_cursor.execute("ALTER TABLE Chocolate MODIFY id INT PRIMARY KEY")